.blue{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.purple{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(45deg) brightness(100%) contrast(100%);
}

.pink{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.red {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(135deg) brightness(100%) contrast(100%);
}

.orange{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.yellow{
    filter: invert(0%) sepia(0%) saturate(300%) hue-rotate(225deg) brightness(100%) contrast(100%);
}

.green{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(270deg) brightness(100%) contrast(100%);
}

.aqua{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(315deg) brightness(100%) contrast(100%);
}